[submodule "nex"]
	path = nex
	url = https://github.com/RetendoNetwork/nex
[submodule "nex_logger"]
	path = nex_logger
	url = https://github.com/RetendoNetwork/nex_logger
[submodule "nex_protocols"]
	path = nex_protocols
	url = https://github.com/RetendoNetwork/nex_protocols
[submodule "crunch"]
	path = crunch
	url = https://github.com/RetendoNetwork/crunch
